<div class="container-fluid">
    <div class="row Header">
      <div class="col-md-auto Logo">
        <img src="../assets/img/Logo.png" alt="Logo">
      </div>
      <div class="col justify-content-center align-self-center TextAndProgress">
        <div class="row justify-content-center PDtext">
          <div >
            Maya, 3DMax, Unity для инженерных задач с использованием технологий AR, VR
          </div>
        </div>
        <div class="row" >
          <div class="progress" style="width: 100%;">
          <div class="progress-bar" role="progressbar" style="width: {{progressLvl}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-auto justify-content-center align-self-center">
        <div *ngIf="LogginedIn" class="LoginedIn ">
          
            <div class="row justify-content-center">
              Администратор
            </div>
            <div class="row justify-content-center">
              {{CashUserData.name}} {{CashUserData.secondname}}
            </div>
            <div class="row justify-content-center">
              <a type="button" class="btn btn-light OutBu " (click)="LogOut()" >Выход</a> 
            </div>
        </div>
        <a *ngIf="!LogginedIn" type="button" class="btn btn-light EnterBu " (click)="goLogin()" >Войти</a> 
      </div>
    </div>
    <div class="row Content">
      <div class="col-md-auto  SideBar">
        <div class="navbar justify-content-center align-self-center navbar-light bg-light">
          <a type="button" class="navbar-brand btn btn-light " (click)="goHome()">На главную</a>
        </div>
        <div class="navbar justify-content-center align-self-center  navbar-light bg-light">
          <a class="navbar-brand  " (click)="goTheme()">Тема проекта</a>
        </div>
        <div class="navbar justify-content-center align-self-center navbar-light bg-light">
          <a class="navbar-brand  " (click)="goWork()">Задание на проект</a>
        </div>
        <div class="navbar justify-content-center align-self-center  navbar-light bg-light">
          <a class="navbar-brand  " (click)="goDev()">Списуок участников</a>
        </div>
        <div *ngIf="LogginedIn" class="navbar justify-content-center align-self-center  navbar-light bg-light">
          <a class="navbar-brand  " (click)="goAdmin()">Панель Администратора</a>
        </div>
      </div>
      <div class="col PostContent" >
        <router-outlet></router-outlet>
       </div>
    </div>
    <div class="row  Wrapper">
      <div class="row container-fluid WrappButtons ">
        <div class="col text-center">
          <a type="button" class="btn btn-light ">Партнеры</a>
        </div>
        <div class="col text-center">
          <a type="button" class="btn btn-light">Гранды</a>
        </div>
        <div class="col text-center">
          <a type="button" class="btn btn-light" (click)="goGit()">Ссылка на Git проекта</a>
        </div>
      </div>
      <div class="row container-fluid WrappText">
        <div class="col">
          Сайт создан для визуализации отчетности по проектной деятельности Яранцевым Владимиром Андреевичем
        </div>
        <div class="col text-right">
          © 2020 Московский политехнический университет
        </div>
      </div>
    </div>
</div>

