.GitPick{
    max-width: 400px;
    max-height: auto;
}
.ourProjText{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.BuGit{
    margin-top:20px;
}
.buURL{
    margin-bottom: 132px;
}