   <div class="row AddNewPost" *ngIf="CashLoginedin">
     <div class="col-md-auto BuPublish">
      <a type="button" class="btn btn-light " (click)="EditPost()">Опубликовать</a> 
     </div>
     <div class="col PostPublishContent">
      <textarea placeholder="Новость" [(ngModel)]="PostContent"></textarea>
     </div>
   </div>
   <div class="row Posts" *ngFor="let post of Posts">
      <div class="col-md-auto Posedbyanddate">
        <div class="row">
          {{post.postedby}}
        </div>
        <div class="row PostDate">
            {{post.postdate}}
        </div>
      </div>
      <div class="col PostContent">
        {{post.content}}
      </div>
    </div>