<div class="row justify-content-center PrWork">
    Наше задание на проект
</div>
<div class="row text-center PrWokrContent">
    Разработка обучающего видео по работе химического аппарата (теплообменник) и учебных пособий. AR 3D сцена с моделями аппаратов. Разработка вирутального пульта управления с вариантами интерактивного взаимодействия, моделирования сценариев. Поиск методического материала и знакомство с используемым программным обеспечением. В этом семестре проводится визуализация работы теплообменника, создание видео его работы и написания методического материала по проделанной работе. 
</div>
