<div class="row justify-content-center Theme">
    Тема проекта
</div>
<div class="row justify-content-center">
    Maya, 3Dmax, Unity для инженерных задач с использованием
технологий AR, VR
</div>
<div class="row justify-content-center Describe">
    Описание проекта
</div>
<div class="row text-center DescContent">
Данный проект призывает решать инженерные задачи с помощью развивающихся технологий дополненной реальности (augmented reality - AR) и виртуальной реальности (virtual reality - VR) с помощью использования программ для 3D-моделирования, анимации и текстурирования (программы: Autodesk Maya, Autodesk 3ds Max, Unity), возможности AR и VR будут достигаться посредством работы с платформой дополненной реальности Vuforia.
Примеры инженерных задач: визуализация работы станка, с помощью используемых в проекте технологий можно будет наглядно продемонстрировать работу того или иного станка без обязательного нахождения рядом с конкретным станком, наблюдать ход работы, изучить внешний вид и принцип его работы. Также открывается возможность визуализации различных химических станков, двигателей внутреннего сгорания.
Проект использует мощнейшие стредства для визуализации и анимации, а также быстроразивающиеся технологии VR и AR.
</div>