.LoginContainer{
    background-color: #f8f9fa;
}
.EnterText{
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
}
.Loginbu{
    margin-top: 20px;
}
.Passbu{
    margin-top: 20px;
}
.Enterbu{
    margin-top: 20px;
    padding-bottom: 25px;
}
.buEnter{
    background-color: #007bff;
}
.Container{
    height: 66vh;
}

#blink {
	-webkit-animation: blink 2s linear infinite; 
	animation: blink 2s linear infinite; 
	font-weight: bold; 
	color: #F00; 
}

@-webkit-keyframes blink { 
	0% { color: #F00; }
	50% { color: #FBB; }
	100% { color: #F00; }
}

@keyframes blink {  
	0% { color: #F00; }
	50% { color: #FBB; }
	100% { color: #F00; } 
}